.navbar-default.sidebar(role='navigation')
    .sidebar-nav.navbar-collapse
        ul#side-menu.nav
            li
                a(href='/signout')
                    i.fa.fa-sign-out.fa-fw
                    | Signout