body {
	background-color: #4d92df;
	color: #FFFFFF;
}
.mainBody {
  padding: 40px 15px;
  text-align: center;
}
thead {
	font-weight: bold;
	font-size: 20px;
}
tfoot {
	font-weight: bold;
	font-size: 20px;
}
@media all and (max-width: 699px) and (min-width: 120px) {
	thead {
		font-size: 12px;
	}
	tfoot {
		font-size: 12px;
	}
}